<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        function deleteMenu(menu_id){

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            $.ajax({
                method:"DELETE",
                url: "/menu/deleteMenu",
                data : {"menu_id" : menu_id},
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                error : function(jqXHR, status, error){
                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseText);
                    }
                }
            })
            .done(function(response) {
                alert('메뉴가 삭제되었습니다.');
                location.reload();
            });
        }

    </script>
</th:block>
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>

    </style>
</th:block>

<div layout:fragment="content">

    <h2>메뉴 관리</h2>
    <table>
        <tr th:each="menu : ${menuList}">
            <td th:text="*{menu.category}" id="menu.category"></td>
            <td th:text="*{menu.menu_name}" id="menu.menu_name">></td>
            <td th:text="*{menu.price}" id="menu.price"></td>
            <td>
                <a th:href="@{/menu/updateMenu/{id}(id=${menu.menu_id})}"><button class="btn btn-primary" >수정</button></a>
                <a class="btn btn-danger" th:onclick="'javascript:deleteMenu(' + ${menu.menu_id} + ')'">삭제</a>
            </td>
        </tr>
    </table>

</div>
</html>