<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head><link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"></head>

<div th:fragment="header">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="/"><img th:src="@{/img/logo.png}" width="240px" height="60px"></a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" href="/members/login">로그인</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" href="/members/new">회원가입</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" href="/members/store/new">미용실등록</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/members/logout">로그아웃</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_USER','ROLE_ADMIN')">
                    <a class="nav-link" href="/members/myPage">마이페이지</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_STORE','ROLE_ADMIN')">
                    <a class="nav-link" href="/stores/storePage">사업자 페이지</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

</html>